<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home-banner.css">
    <title>Document</title>
</head>

<body>
    <template id="home-banner-template">
        <div class="home-banner">
            <div class="info-img">
                <div class="slide-counter">
                    <div class="page-text"></div>
                    <div class="page-border"></div>
                    <div class="page-text"></div>
                </div>
                <img src="" alt="" class="slide-img">
            </div>
            <div class="info-banner">
                <div class="slide-title"></div>
                <div class="slide-title"></div>
                <div class="slide-text"></div>
            </div>
        </div>
    </template>


</body>

</html>