.discount {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    padding-top: 4px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    row-gap: 8px;
}

.discount-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
}

.discount-title {
    display: flex;
    align-items: center;
}

.discount-title-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-right: 3px;
}

.get-coupon {
    display: flex;
    align-items: center;
}

.get-coupon-text {
    font-weight: 600;
    color: rgb(250, 110, 227);
    font-size: 14px;
    line-height: 17px;
}

.coupon-block {
    padding:20px 16px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid rgb(232,233,235);
    border-radius:8px;
}

.coupon-block-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.coupon-block-count {
    display: flex;
    column-gap: 4px;
    align-items: center;
}

.coupon-block-count-text {
    font-weight: 500;
    color: #606567;
    font-size: 14px;
    line-height: 17px;
}

.coupon-block-count-text-count {
    font-weight: 700;
    color: #292b2b;
    font-size: 14px;
    line-height: 17px;
}

.reward-block {
    padding:20px 16px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border:1px solid rgb(232,233,235);
    border-radius:8px;
    row-gap: 16px;
}

.reward-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.reward-section-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
}

.reward-title {
    font-weight: 500;
    width: 64px;
    font-size: 15px;
    line-height: 18px;
    margin-right: 8px;
}

.reward-input {
    text-align: right;
    font-weight: 500;
    height: 40px;
    padding: 0px 16px;
    border-radius: 8px;
    border: 1px solid rgb(232, 233, 235);
    width: 65%;
}

.reward-button {
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    cursor: pointer;
    height: 32px;
    border-radius: 16px;
    padding: 0px 10px;
    border: 1px solid #d0d4d6;
    color: #121212;
    font-size: 13px;
    line-height: 1.15;
    font-weight: 400;
    background-color: white;
}

.reward-section-bottom {
    margin-top: 4px;
    display: flex;
    column-gap: 4px;
    justify-content: flex-end;
    align-items: center;
}

.reward-available {
    color: #292b2b;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
}

.reward-separator {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #606567;
}

.reward-owned {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #606567;
}