<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./checkbox.css"/>
</head>
<body>
    <div class="checkbox-component">
  <label class="checkbox-label">
    <input type="checkbox" class="checkbox-input">
    <svg class="checkbox-icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
      <circle class="icon-circle" cx="8" cy="8" r="7"></circle>
      <path class="icon-check" d="M12.476 6.03L11.415 4.97 6.782 9.603 4.03 6.851 2.97 7.912 6.782 11.724 12.476 6.03Z"></path>
    </svg>
    <span class="checkbox-text">자동 로그인</span>
  </label>
</div>
</body>
</html>