<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home-banner.css">
    <title>Document</title>
</head>
<body>
    <div class="home-banner">
        <div class="info-img">
            <div class="slide-counter">
                <div class="page-text">30</div>
                <div class="page-border"></div>
                <div class="page-text">42</div>
            </div>
            <img src="./assets/imgs/farm/202504050530590972_086517.jpg" alt="banner" class="slide-img">
        </div>

        <div class="info-banner">
            <div class="slide-title">꾸밈레벨별 코디 추천</div>
            <div class="slide-title">10% 쿠폰 발급 중</div>
            <div class="slide-text">편한 원마일웨어부터 하객룩까지</div>
        </div>
    </div>
</body>
</html>